body {
  padding-top: 54px;
  font-family: 'Open Sans', sans-serif;
}
nav{
  border-bottom: 2px solid lightgrey;
}
.business-header {
  height: 65vh;
  min-height: 300px;
  background: url('../cleaning1.jpg') center center no-repeat scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
nav .nav-item{
  padding-right: 8px;
  font-size: 13px;
}
nav .nav-item .btn{
  font-size: 13px;
}
.navbar-brand{
  font-family: 'Bangers', cursive;
  font-size: 25px;
  color: grey!important;
}
.align{
  display: flex;
  align-items: center;
  justify-content: center;
}
.vl{
  border:0.05em solid lightgrey;
  position: fixed;
  margin-left: 80px;
  height:62px;
}
.navbar-collapse{
  padding-left:40px;
}
.small{
  font-size: 13px;
}
.bg-lighter{
  background-color: #F5F9FB;
  border-top: 1px solid lightgrey;
}
.bg-red{
  background-color: #D85450;
  color:white;
}
.form-group{
  text-align: left!important;
}
.click{
  cursor: pointer;
}
.fa-chart-pie{
  font-size:26.5em;
}
.fa-check-circle{
  font-size:4em;
  margin-top: 25px;
}
.fa-user-circle{
  font-size:7.5em;
  margin-bottom: 10px;
  color:#F5C5CA;
}
.fa-thumbs-up{
 font-size:5em;
}
.fa-user{
  padding-right: 5px;
}
.left-col{
  background: #F5F9FB;
  border-right:1px solid lightgrey;
}
.right-col{
  background: white;
  text-align: left;
  height: 100%;
  overflow: scroll;
}
.left-col-browse{
  background: #F5F9FB;
  border-right:1px solid lightgrey;
}
.right-col-browse{
  background: white;
  text-align: left;
  height: 95%;
  overflow: scroll;
}
.bg-lightgrey{
  background: #F5F9FB;
}
.inner{
  padding-top: 100px;
}
#link{
  position: absolute;
  margin-top: -50px
}
#services .card:hover{
 cursor: pointer;
 border: 1px solid #D85450;
}
.dashboard-categories .card:hover{
 cursor: pointer;
 border: 1px solid #D85450;
}
#map{
  height:100vh;
  width:100%;
}
#people{
  width: 25%;
}
.taskHead{
  background: white;
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid lightgrey;
}
.mt-6{
  margin-top: 65px;
}
.input-group{
  width: 25%;
}
#dashboard .full{
  height:100vh;
}
#dashboard{
  position: absolute;
  top:0;
  background-color: #e3e9ed;
  width: 100%;
  overflow-y: hidden;
}
#browse .full{
  height:100vh;
}
#browse{
  position: absolute;
  top:0;
  background-color: #e3e9ed;
  width: 100%;
  overflow-y: hidden;
}
#datebox2{
  margin-left: 15px;
}
.sum h4{
  padding: 15px;
}
.modal-header{
  background-color:#F8F9FA;
}
.nav-tabs .nav-link{
  color: #28a745;
}
.list-group-item{
  cursor: pointer;
}
.disabled{
  cursor:default!important;
}
.fa-bullhorn{
  font-size: 80px;
}
.alert-secondary{
  background-color: #F5F9FB!important;
}
.bg-lightdark{
  background-color: #212428;
  bottom: 10;
  position: absolute;
  z-index: 1000;
  padding: 20px;
}
.social .fab{
  margin:0px 10px 0px 10px;
  font-size: 20px;
}
a{
  cursor: pointer;
}
footer li{
  list-style: none;
  line-height: 30px;
  color:#9FBCB6;
}
footer li:hover{
  text-decoration: underline;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}
@media (max-width: 992px) {
  .fix{
    margin-top:0px;
  }
  .navbar-collapse{
    padding-left:0px;
  }
  .vl{
    border:0.05em solid lightgrey;
    position: fixed;
    margin-left: 80px;
    height:62px;
    visibility: hidden;
  }
  .fa-chart-pie{
    font-size:15em;
    padding-bottom: 50px;
    margin-top:-40px;
  }
}
